body{

    background: #F7F2EB;
    /* background: #F3F2F0; */
    margin: 0 auto;
    /* visibility: hidden; */
}



.nav{
    grid-column: 16 / span 1;
    grid-row: 1 / span 1;
    margin-top: 30px;
}

.button{
    display: grid;
    width: 70px;
    cursor: pointer;
    background-color: #193921;
    color: white;
    font-family: "Cormorant";
    font-size: 22px;
    border: none;
    border-radius: 24px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.button:hover{
    background-color: #2F6A3F;
    color: white;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(17, minmax(0, 1fr));
    grid-template-rows: repeat(14, 50px);
    gap: 5px;
}

.icon{
    width: 200px;
    height: 200px;
}

.icon-music{
    width: 210px;
    height: 210px;
}

.icon-gift{
    width: 185px;
    height: 185px;
}

.icon-photo{
    width: 185px;
    height: 185px;
}


.gallery-event{
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    align-items: center;
    padding-left: 30px;

}

.gallery-event a{
    text-decoration: none;
    color: #00370B;
}

.event-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -25px;
}



.gallery-music{
    grid-column: 3 / span 1;
    grid-row: 10 / span 1;
    display: grid;
    align-items: center;
    padding-top: 15px;
    padding-left: 35px;
}

.gallery-music a{
    text-decoration: none;
    color: #00370B;;
}

.music-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -8px;
}



.gallery-gift{
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    display: grid;
    align-items: center;
    padding-left: 55px;
}

.gallery-gift a{
    text-decoration: none;
    color: #00370B;
}

.gift-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -36px;
    margin-right: 59px;
}

.gallery-headshot{
    display: grid;
    align-items: center;
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;

}

.gallery-headshot img{
    display: grid;
    align-items: center;
    border-radius: 50%;
    width: 600px;
    height: 600px;
}


.title{
    grid-column: 5 / span 10;
    grid-row: 1 / span 1;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

.title h1{
    font-family: "Satisfy", sans-serif;
    font-size: 86px;
    color: #E6C76D;
    padding-right: 50px;
    padding-bottom: 41px;

}



.gallery-photo{
    grid-column: 13 / span 1;
    grid-row: 11 / span 1;
    display: grid;
    align-items: center;
    padding-left: 17px;
}

.gallery-photo a{
    text-decoration: none;
    color: #00370B;
}

.photo-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -8px;
}

.gallery-potluck{
    grid-column: 13 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    align-items: center;
    padding-left: 17px;
}

.gallery-potluck a{
    text-decoration: none;
    color: #00370B;
}

.potluck-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -8px;

}

.date {
    grid-column: 9 / span 1;
    grid-row: 13 / span 1;
    display: grid;
    align-items: center;
    padding-top: 25px;
}

.date h2{
    font-family: "Cormorant";
    font-size: 35px;
    color: #193921;
    font-weight: bold;
    padding-right: 30px;

}

.gallery-travel{
    grid-column: 14 / span 1;
    grid-row: 7 / span 1;
    display: grid;
    align-items: center;
    padding-top: 10px;

}

.gallery-travel a{
    text-decoration: none;
    color: #00370B;
}

.travel-text{
    display: grid;
    justify-content: center;
    font-family: "Cormorant";
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: -8px;
}
